.form-container{
    width:50%;
    height: 50%;
    box-shadow: .5px .5px 5px #333;
    border-radius: 2%;

}
.my-form{
    margin:auto;
    text-align: center;
}
.form-body h1{
    font-size: 1.5rem;
}